# Course1. SQL for Data Science
## Final Grades

![特殊方法课堂截图](https://live.staticflickr.com/65535/51800281509_6718903dc7_k.jpg)

# <font color="0000dd">week 1 Getting started and selecting & retrieveing data with SQL</font>

# <font color="0000dd">week 2 Filtering, sorting, and calculating data with SQL</font>

# <font color="0000dd">week 3 Subqueries and joins in SQL</font>

### Subqueries

definition: queries inside another queries
can only retrieve one column
Overuse: slow performance
no limit on number of subqueries

innermost query first


```sql
SELECT Customer_name, Customer_contact
FROM Customers
WHERE cust_id IN
    SELECT 

```

format sql codes
www.poorsql.com




### Inner Joins

pre-qualify column names

no limit on number of tables you can join  

### Advanced joins
1. left join
2. right join(available in SQLite, this course):
return all records from right table + matched records from the left table
3. full outer join

### Unions

**usage**: combine result-set from 2 or more `SELECT` statements

>*each `SELECT`statement must have same number of columns  
*columns in each `SELECT` statement must be in same order  
*columns must have similar data type

# <font color="0000dd">week 4 Modifying and analyzing data with SQL</font>

Objective: integrating + formatting data to prepare it for analysis   

## 1. strings method: text string, date string
1. combine: concatenate: `||`, (SQL server: `+`)
2. trimming: substring function
    1. TRIM: 
    ```sql
    SELECT TRIM(" You the best.   ") AS TrimmedString;=
    ```
    2. LTRIM
    3. RTRIM
3. changing the case: UPPER, LOWER
```sql
SELECT UPPER(column_name) 
FROM table_table
```
4. using the substring function
    ```sql
    SELECT firstname, SUBSTR(string name, string position, number of characters to be returned)
    FROM employees
    ```
5. date + time string

>#### Formats:  
1. date: YYYY-MM-DD
2. datetime: YYYY-MM-DD HH:MI:SS
3. time stamp:  YYYY-MM-DD HH:MI:SS


>#### SQLite 5 Functions:
1. <mark>Date</mark>(timestring, modifier, modifier,...)
2. <mark>Time</mark>(timestring, modifier, modifier,...)
3. <mark>Datetimee</mark>(timestring, modifier, modifier,...)
4. <mark>Julianday</mark>(timestring, modifier, modifier,...)
5. <mark>Strftime</mark>(format, timestring, modifier, modifier,...)  
*(A timestring can be followed by 0 or 0+ modifiers. 
Each modifier transforms, that is applied to the time value is applied from left to right. The order is really important.)*




```sql
SELECT strftime('%Y %m %d','now')
SELECT strftime('%H %M %S %s','now')
DATE(('now') - Birthdate column) AS Age
```
https://www.w3resource.com/sqlite/sqlite-strftime.php

## 2.  case statement (= if statement python)

- = `if-then-else` in other coding language  
- can be used in`SELECT`,`INSERT`,`UPDATE`,`DELETE`statements  

#### 1. synatx: 

```sql
CASE
WHEN c1 THEN E1
WHEN c2 THEN E2
...
ELSE[result else]
END
```  


Ex):

```sql
SELECT
employeeid
,firstname
,lastname
,city
,CASE city   ### original column
    WHEN 'Calgary' THEN 'Calgary'
ELSE 'Other'
    END calgary ###new column name
FROM Employees
ORDER BY LastName, FirstName
```



#### 3. Views

illusion table, stored query, simplify querires

`AS` function


https://zhuanlan.zhihu.com/p/80183774  
视图View, 基于SQL语句的结果集 的可视化的表, 包含行和列,是一种不存在的虚拟表.  
视图中的字段是来自一个或多个数据库中的真实的表中的字段  
可以向视图添加 SQL 函数、WHERE 以及 JOIN 语句，也可以提交数据，就像这些来自于某个单一的表。  
数据库的设计和结构不会受到视图中的函数、where 或 join 语句的影响。  
视图总是显示最近的数据。每当用户查询视图时，数据库引擎通过使用 SQL 语句来重建数据。  


#### 3. SQL CREATE VIEW 实例

SQL CREATE VIEW 语法：
```sql
CREATE VIEW view_name AS
SELECT column_name(s)
FROM table_name
WHERE condition

--创建视图--
create or replace view v_student as 
select Sno,Sname
from student;

--从视图中检索数据，即查询上面这个视图--
select * from v_student;

--也可以向查询添加条件--
select * 
from v_student
where Sname like '%云‘;

--删除视图--
drop view v_student;

```








#### 4. Resources
1. practicing to improve your skills, practicing SQL Puzzles:

SQL Authority: SQL Puzzles
https://blog.sqlauthority.com/category/sql-puzzle/

2. quizzes and is recommended by many recruiters to practice SQL for a data science interview:

SQLZOO
https://sqlzoo.net/wiki/SQL_Tutorial